<div class='sub-column col-lg-3 col-md-3'>
  <% if !current_user.nil? %>
    <div class='up-sub'>
      <h2>User info</h2>
      <br>
      <table class='table'>
        <tr>
          <td>H.N</td>
          <td>
            <%= current_user.name %>
          </td>
        </tr>
        <tr>
          <td>email</td>
          <td><%=current_user.email%></td>
        </tr>
        <tr>
          <td><%= link_to 'edit',edit_user_path(current_user),class: 'btn btn-primary'%></td>
          <td><%= link_to 'logout',destroy_user_session_path(current_user),method: :delete,class: 'btn btn-danger'%></td>
        </tr>
      </table>
    </div>

    <div class='under-sub'>
      <h2>New Comment</h2>
      <br>

      <%= form_for(@book) do |f| %>
        
        <div class="field">
          <p><%= f.label :title%><span class='glyphicon glyphicon-pencil'></span></p>
          <%= f.text_field :title ,placeholder:'name of the book you read',class: 'black'%>
        </div>
        <br>

        <div class="field">
          <p><%= f.label :comment %><span class='glyphicon glyphicon-pencil'></span><br>
          <%= f.text_area :comment ,placeholder:'What are you feeling after reading?',class: 'black'%></p>
        </div>

        <div class="actions">
          <%= f.submit :class => 'btn btn-success' %>
        </div>
      <% end %>
    </div>

  <% else %>

    <div class='up-sub'>
      <h2>User info</h2><br><br>
      <p class='center'><strong><%= link_to 'Log in',new_user_session_path,class: 'btn btn-primary' %></strong> | <strong><%= link_to 'Sign up',new_user_registration_path,class: 'btn btn-primary' %></strong></p>
    </div>

  <% end %>
</div>



<div class='col-lg-1 col-md-1 col-sm-1'>
</div>

<div class='main-column col-lg-8 col-md-8'>
  <h1><%= link_to 'Comments',books_path %> | <strong>Users</strong></h1>
  <br>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Name <span class='glyphicon glyphicon-tags'></span></th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user)%></td>
          <td><%= user.email %></td>
        </tr>

      <% end %>
    </tbody>
  </table>

</div>
